<div class="ea-navbar-area">
    <div class="ea-responsive-nav">
        <div class="container">
            <div class="ea-responsive-menu">
                <div class="logo">
                    <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="ea-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">

                <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>

                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">

                        <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>

                        <li class="nav-item"><a href="#demos" class="dropdown-toggle nav-link">Free Demos</a>
                            <ul class="dropdown-menu">

                                <li class="nav-item"><a href="card.html" class="nav-link">Card</a></li>

                                <li class="nav-item"><a href="flip-box.html" class="nav-link">Flipbox</a></li>
                                
                                <li class="nav-item"><a href="team-member.html" class="nav-link">Team</a></li>
                                
                                <li class="nav-item"><a href="testimonial.html" class="nav-link">Testimonial</a></li>
                                
                                <li class="nav-item"><a href="timeline.html" class="nav-link">Timeline</a></li>
                                
                                <li class="nav-item"><a href="contact-form-7.html" class="nav-link">Contact Form 7</a></li>
                                
                                <li class="nav-item"><a href="logo-carousel.html" class="nav-link">Logo Carousel</a></li>
                                
                                <li class="nav-item"><a href="progress-bar.html" class="nav-link">Progress Bar</a></li>

                                <li class="nav-item"><a href="fun-factor.html" class="nav-link">Fun Factor</a></li>

                                <li class="nav-item"><a href="social-media.html" class="nav-link">Social Media</a></li>

                                <li class="nav-item"><a href="business-hours.html" class="nav-link">Business Hours</a></li>
                                
                                <li class="nav-item"><a href="blog-post.html" class="nav-link">Blog Post</a></li>

                            </ul>
                        </li>

                        <li class="nav-item"><a href="#features" class="nav-link">Features</a></li>

                        <li class="nav-item"><a href="#call-to-action" class="nav-link">Call To Action</a></li>

                    </ul>

                    <div class="others-option d-flex align-items-center">
                        <div class="option-item">
                            <a href="https://www.templatemonster.com/website-templates/star-pages-multipurpose-special-pages-for-html-template-or-theme-370420.html" target="_blank" class="default-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            
            <div class="container">
                <div class="option-inner">
                    <div class="others-option d-flex align-items-center">
                        <div class="option-item">
                            <a href="https://www.templatemonster.com/website-templates/star-pages-multipurpose-special-pages-for-html-template-or-theme-370420.html" target="_blank" class="default-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>