<!doctype html>
<html >
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/aos.css">
        <link rel="stylesheet" href="css/boxicons.min.css">
        <link rel="stylesheet" href="css/magnific-popup.min.css">
        <link rel="stylesheet" href="css/meanmenu.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/progressbar.min.css">
        <link rel="stylesheet" href="css/odometer.min.css">
        <link rel="stylesheet" href="css/calendar.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">

        <title>Star Pages - Multipurpose Special Pages for HTML Template or Theme</title>

        <link rel="icon" type="image/png" href="img/favicon.png">
    </head>
    <body class="landing-page">

        <!-- Start Navbar Area -->
        <div class="ea-navbar-area">
            <div class="ea-responsive-nav">
                <div class="container">
                    <div class="ea-responsive-menu">
                        <div class="logo">
                            <a href="index.html"><img src="img/logo.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ea-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">

                        <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"></a>

                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav">

                                <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>

                                <li class="nav-item"><a href="#demos" class="dropdown-toggle nav-link">Free Demos</a>
                                    <ul class="dropdown-menu">

                                        <li class="nav-item"><a href="card.html" class="nav-link">Card</a></li>

                                        <li class="nav-item"><a href="flip-box.html" class="nav-link">Flipbox</a></li>
										
										<li class="nav-item"><a href="team-member.html" class="nav-link">Team</a></li>
										
										<li class="nav-item"><a href="testimonial.html" class="nav-link">Testimonial</a></li>
										
										<li class="nav-item"><a href="timeline.html" class="nav-link">Timeline</a></li>
										
										<li class="nav-item"><a href="contact-form-7.html" class="nav-link">Contact Form 7</a></li>
										
										<li class="nav-item"><a href="logo-carousel.html" class="nav-link">Logo Carousel</a></li>
										
										<li class="nav-item"><a href="progress-bar.html" class="nav-link">Progress Bar</a></li>

                                        <li class="nav-item"><a href="fun-factor.html" class="nav-link">Fun Factor</a></li>

                                        <li class="nav-item"><a href="social-media.html" class="nav-link">Social Media</a></li>

                                        <li class="nav-item"><a href="business-hours.html" class="nav-link">Business Hours</a></li>
                                        
                                        <li class="nav-item"><a href="blog-post.html" class="nav-link">Blog Post</a></li>

                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#features" class="nav-link">Features</a></li>

                                <li class="nav-item"><a href="#call-to-action" class="nav-link">Call To Action</a></li>

                            </ul>

                            <div class="others-option d-flex align-items-center">
                                <div class="option-item">
                                    <a href="https://www.templatemonster.com/website-templates/star-pages-multipurpose-special-pages-for-html-template-or-theme-370420.html" target="_blank" class="default-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-option d-flex align-items-center">
                                <div class="option-item">
                                    <a href="https://www.templatemonster.com/website-templates/star-pages-multipurpose-special-pages-for-html-template-or-theme-370420.html" target="_blank" class="default-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Start Banner Area -->
        <div class="banner-area">
            <div class="container">
                <div class="row align-items-center m-0">
                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="banner-content">
                            <h1>Star Pages</h1>
                            <h6>Powerful <span>template or theme</span> pages to create beautiful websites.</h6>
                            <div class="btn-box">
                                <a href="#demos" class="default-btn"><i class='bx bx-layer'></i> Check Demos</a>
                                <a href="https://www.templatemonster.com/website-templates/star-pages-multipurpose-special-pages-for-html-template-or-theme-370420.html" target="_blank" class="default-btn"><i class='bx bxs-hot'></i>Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="banner-image">
                            <img src="img/banner.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Area -->

        <!-- Start Preview Demos Area -->
        <section id="demos" class="preview-demos-area ptb-100">
            <div class="container">
                <div class="section-title" data-aos="fade-up" data-aos-duration="1200">
                    <h2>Get Started with Pre-made Demos</h2>
                    <p>We provided 12 unique demos. All of these are 100% mobile responsive, easy to use, and customizable.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="card.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/01_card.png);"></span>
                                </span>
                                <h3>Card</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="flip-box.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/02_flipbox.png);"></span>
                                </span>
                                <h3>Flipbox</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="team-member.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/05_team.png);"></span>
                                </span>
                                <h3>Team</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="testimonial.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/06_testimonial.png);"></span>
                                </span>
                                <h3>Testimonial</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="timeline.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/07_timeline.png);"></span>
                                </span>
                                <h3>Timeline</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="contact-form-7.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/10_contact.png);"></span>
                                </span>
                                <h3>Contact Form 7</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="logo-carousel.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/11_logo.png);"></span>
                                </span>
                                <h3>Logo Carousel</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="progress-bar.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/13_progress.png);"></span>
                                </span>
                                <h3>Progress Bar</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="fun-factor.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/15_fun_factor.png);"></span>
                                </span>
                                <h3>Fun Factor</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="social-media.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/19_social.png);"></span>
                                </span>
                                <h3>Social Media</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="business-hours.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/21_business.png);"></span>
                                </span>
                                <h3>Business Hours</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-demo-box">
                            <a href="blog-post.html" target="_blank">
                                <span class="image-bg">
                                    <span class="image-demo-scroll" style="background-image:url(img/demos/27_blog_post.png);"></span>
                                </span>
                                <h3>Blog Post</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Preview Demos Area -->
        
        <!-- Start Preview Features Area -->
        <section id="features" class="preview-features-area bg-f7f7ff ptb-100">
            <div class="container">
                <div class="section-title" data-aos="fade-up" data-aos-duration="1200">
                    <h2>We have Exellent Features</h2>
                    <p>You will like all of the features in our demos. 100% guaranteed satisfaction.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1400">
                        <div class="single-feature-box">
                            <div class="icon">
                                <i class="bx bx-desktop"></i>
                            </div>
                            <h3>Fully Responsive Layout</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1600">
                        <div class="single-feature-box">
                            <div class="icon">
                                <i class="bx bx-archive"></i>
                            </div>
                            <h3>12 Resourceful Demos</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1800">
                        <div class="single-feature-box">
                            <div class="icon">
                                <i class="bx bx-edit"></i>
                            </div>
                            <h3>Fully Customizable</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="2000">
                        <div class="single-feature-box">
                            <div class="icon">
                                <i class="bx bx-mobile-alt"></i>
                            </div>
                            <h3>Mobile Optimized</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="2200">
                        <div class="single-feature-box">
                            <div class="icon">
                                <i class="bx bxl-google"></i>
                            </div>
                            <h3>Google Fonts</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="2400">
                        <div class="single-feature-box">
                            <div class="icon">
                                <i class="bx bx-cog"></i>
                            </div>
                            <h3>Lifetime Update</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-1">
                <img src="img/box-shape-1.png" alt="Image">
            </div>
            <div class="shape-2">
                <img src="img/box-shape-2.png" alt="Image">
            </div>
        </section>
        <!-- End Preview Features Area -->

        <!-- Start Call To Action Area -->
        <div id="call-to-action" class="call-to-action-area ptb-100">
            <div class="container">
                <div class="call-to-action-content" data-aos="fade-up" data-aos-duration="1200">
                    <h2>Get Started Now</h2>
                    <p>Start working with Star Pages - Multipurpose Special Pages for HTML Template or Theme, the impressive design, powerful features, and easy customization make template building faster, easier, and more professional than ever.</p>
                    <div class="btn-box">
                        <a href="https://www.templatemonster.com/website-templates/star-pages-multipurpose-special-pages-for-html-template-or-theme-370420.html" target="_blank" class="default-btn"><i class='bx bx-download'></i> Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Call To Action Area -->

        <!-- Start Footer Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4">
                        <a href="index.html" class="logo d-inline-block">
                            <img src="img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 text-center">
                        <p>© 2024 Star Pages. Developed by StarTheme.</p>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <ul class="social-links">
                            <li><a href="#" class="facebook"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" class="instagram"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#" class="twitter"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" class="linkedin"><i class='bx bxl-linkedin'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Area -->

        <!-- Links of JS files -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/magnific-popup.min.js"></script>
        <script src="js/meanmenu.min.js"></script>
        <script src="js/sidebar-menu.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/progressbar.min.js"></script>
        <script src="js/appear.min.js"></script>
        <script src="js/odometer.min.js"></script>
        <script src="js/apexcharts.js"></script>
        <script src="js/calendar.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>