<!doctype html>
<html >
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/aos.css">
        <link rel="stylesheet" href="css/boxicons.min.css">
        <link rel="stylesheet" href="css/magnific-popup.min.css">
        <link rel="stylesheet" href="css/meanmenu.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/progressbar.min.css">
        <link rel="stylesheet" href="css/odometer.min.css">
        <link rel="stylesheet" href="css/calendar.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">

        <title>Star Pages - Multipurpose Special Pages for HTML Template or Theme</title>

        <link rel="icon" type="image/png" href="img/favicon.png">
    </head>
    <body class="landing-page">

        <!-- Start Navbar Area -->
       
        <%- include("Header") %>
        <!-- End Navbar Area -->

        <!-- Start Banner Area -->
        <div class="banner-area">
            <div class="container">
                <div class="row align-items-center m-0">
                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="banner-content">
                            <h1>EquiSplit</h1>
                            <h6>Your go-to application for <span>effortlessly managing shared expenses</span> with friends, family, and colleagues.</h6>
                            <div class="btn-box">
                                <a href="#demos" class="default-btn"><i class='bx bx-log-in'></i> Login</a>
                                <a href="#demo" target="_blank" class="default-btn"><i class='bx bxs-user'></i>Sign Up</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="banner-image">
                            <img src="img/banner.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Area -->


        <!-- Start Preview About us Area -->
        <section id="aboutus" class="preview-features-area bg-f7f7ff ptb-100">
            <div class="ea-testimonial-area ptb-100">
                <div class="container">
                    <div class="section-title" data-aos="fade-up" data-aos-duration="1200">
                        <h2>Our Vision</h2>

                        <p>We envision a world where the intricacies of shared expenses no longer pose a challenge. Our vision is to create a platform that seamlessly integrates into people's lives, offering them the tools they need to track, split, and settle expenses with ease. By fostering transparent financial interactions, we aim to strengthen relationships and alleviate the stress associated with managing shared finances.</p>
                             </div>
    
                </div>
            </div>

        </section>
        <!-- End Preview About us Area -->

 <!-- Start Preview testimony Area -->
 <section id="testimony" class="call-to-action-area ptb-100">
    <div class="ea-testimonial-area ptb-100">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1200">
                <h2>Testimonial</h2>
                     </div>

            <div class="ea-testimonial-slides style-three owl-carousel owl-theme" data-aos="fade-up" data-aos-duration="1200">
                <div class="ea-single-testimonial-box style-five">
                    <div class="desc">
                        <p>EquiSplit has been a game-changer for our friend group! Gone are the days of awkwardly splitting bills and trying to remember who owes who. With EquiSplit, it's all sorted out seamlessly. Highly recommended!</p>
                    </div>
                    <div class="client-info">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="img/user/user1.jpg" alt="image">
                            <div class="title">
                                <h3>Jason Doe</h3>
                                <span>Web Developer</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ea-single-testimonial-box style-five">
                    <div class="desc">
                        <p>As someone who frequently travels for work, EquiSplit has been a lifesaver. Managing shared expenses with colleagues has never been easier. The real-time updates and multiple currency support make it a must-have for anyone on the go.</p>
                    </div>
                    <div class="client-info">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="img/user/user2.jpg" alt="image">
                            <div class="title">
                                <h3>Sarah Taylor</h3>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ea-single-testimonial-box style-five">
                    <div class="desc">
                        <p>EquiSplit has revolutionized how we handle our household expenses. From groceries to utility bills, everything is tracked effortlessly. Plus, the fair splitting feature ensures that neither of us feels like we're carrying the financial burden alone. Thank you, EquiSplit!</p>
                    </div>
                    <div class="client-info">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="img/user/user3.jpg" alt="image">
                            <div class="title">
                                <h3>James Anderson</h3>
                                <span>CEO & Founder</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Preview Demos Area -->



<!-- Start Fun Factor Design Eight Area -->
<section class="ea-fun-factor-area bg-color-f0f0f9 pt-100 pb-70">
    <div class="container">
        <div class="ea-fun-factor-bg" data-aos="fade-up" data-aos-duration="1200">
            <div class="section-title">
                <h2>We Make A Difference</h2>
                 </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="ea-mb-30">
                        <img src="img/fun-factor/fun-factor-bg-img.png" alt="Image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="ea-single-fun-factor style-eight">
                                <div class="icon">
                                    <img src="img/fun-factor/fun-factor-icon-13.png" alt="Image">
                                </div>
                                <h2>
                                    <span class="odometer" data-count="02">00</span> 
                                </h2>
                                <span class="sub-title">Years of Experience</span>
                            </div>
                        </div>
    
                        <div class="col-lg-6 col-sm-6">
                            <div class="ea-single-fun-factor style-eight">
                                <div class="icon">
                                    <img src="img/fun-factor/fun-factor-icon-14.png" alt="Image">
                                </div>
                                <h2>
                                    <span class="odometer" data-count="50">00</span> 
                                </h2>
                                <span class="sub-title">Satisfied Customers</span>
                            </div>
                        </div>
    
                        <div class="col-lg-6 col-sm-6">
                            <div class="ea-single-fun-factor style-eight">
                                <div class="icon">
                                    <img src="img/fun-factor/fun-factor-icon-15.png" alt="Image">
                                </div>
                                <h2>
                                    <span class="odometer" data-count="20">00</span> 
                                </h2>
                                <span class="sub-title">Settled Expenses</span>
                            </div>
                        </div>
    
                        <div class="col-lg-6 col-sm-6">
                            <div class="ea-single-fun-factor style-eight">
                                <div class="icon">
                                    <img src="img/fun-factor/fun-factor-icon-16.png" alt="Image">
                                </div>
                                <h2>
                                    <span class="odometer" data-count="05">00</span> 
                                </h2>
                                <span class="sub-title">Winning Awards</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Fun Factor Design Eight Area -->






   

        <!-- Start Footer Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4">
                        <a href="index.html" class="logo d-inline-block">
                            <img width="150" height="100" src="img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 text-center">
                        <p>© 2024 Star Pages. Developed by Anonymous.</p>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <ul class="social-links">
                            <li><a href="#" class="facebook"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" class="instagram"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#" class="twitter"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" class="linkedin"><i class='bx bxl-linkedin'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Area -->

        <!-- Links of JS files -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/magnific-popup.min.js"></script>
        <script src="js/meanmenu.min.js"></script>
        <script src="js/sidebar-menu.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/progressbar.min.js"></script>
        <script src="js/appear.min.js"></script>
        <script src="js/odometer.min.js"></script>
        <script src="js/apexcharts.js"></script>
        <script src="js/calendar.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>