<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

     


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#expenses-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Groups</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="expenses-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/addexpenses">
              <i class="bi bi-circle"></i><span>Add Expenses</span>
            </a>
          </li>
          
          <li>
            <a href="/addgroup">
              <i class="bi bi-circle"></i><span>Add Group</span>
            </a>
          </li>
          
         
     

    </ul>





    <ul class="sidebar-nav" id="sidebar-nav">

     


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#friends-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people-fill"></i><span>Friends</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="friends-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/addfriends">
              <i class="bi bi-circle"></i><span>Add Friends</span>
            </a>
          </li>
          
          <li>
            <a href="/request">
              <i class="bi bi-circle"></i><span>Pending Request</span>
            </a>
          </li>
          
         
     

    </ul>

  </aside><!-- End Sidebar-->
